<%# encoding: UTF-8 -%>
<!doctype html>
<html lang="ja">
<head>
  <title><%= Mulukhiya::Package.name %></title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=800">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Francois+One|Inconsolata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/mulukhiya/style/default">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
  <header><%= Mulukhiya::Package.full_name %></header>
