[Unit]
Description=mulukhiya-toot-proxy (sidekiq)
After=network.target

[Service]
Type=forking
PIDFile=/home/__username__/path/to/mulukhiya-toot-proxy/tmp/pids/SidekiqDaemon.pid
User=__username__
WorkingDirectory=/home/__username__/path/to/mulukhiya-toot-proxy
ExecStart=/bin/bash -lc 'bundle exec bin/sidekiq_daemon.rb start'
ExecStop=/bin/bash -lc 'bundle exec bin/sidekiq_daemon.rb stop'
TimeoutSec=15
SuccessExitStatus=KILL
Restart=always
Environment="LD_PRELOAD=/usr/lib64/libjemalloc.so"

[Install]
WantedBy=multi-user.target
