[Unit]
Description=mulukhiya-toot-proxy (listener)
After=network.target

[Service]
Type=simple
User=__username__
WorkingDirectory=/home/__username__/path/to/mulukhiya-toot-proxy
ExecStart=/bin/bash -lc 'bundle exec bin/listener_daemon.rb start'
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=15
Restart=always
Environment="LD_PRELOAD=/usr/lib64/libjemalloc.so"

[Install]
WantedBy=multi-user.target
