doctype html
html lang='ja' data-theme='light'
  head
    == slim.render 'fragment/metadata'
    == slim.render 'fragment/assets'
  body
    == slim.render 'fragment/header'
    == slim.render 'fragment/breadcrumbs', {entries: [{label: 'モロヘイヤHOME', href: '/mulukhiya'}, {label: '独自機能'}]}
    main#app v-cloak='' class=env.type
      == slim.render 'fragment/message'
      h2 #{sns.node_name}の独自機能
      .hidden ref='custom_api_entries' v-show='false' = Mulukhiya::CustomAPI.to_json
      ul.links
        - Mulukhiya::CustomAPI.all do |api|
          li
            h3 @click='toggleVisibility("#{api.id}")' = api.description
            slide-up-down :active='layout.details.#{api.id}'
              .endpoint-container
                .link GET {{endpoints.#{api.id}}}
                - api.args.each do |arg|
                  multiselect :options='choices.#{api.id}_#{arg}' @input='onInputCustomAPI("#{api.id}", "#{arg}")' label="label" track-by="value"
                .link-description = api.description
                .field-update-button-container
                  button @click='execCustomAPI("#{api.id}")' 実行
                  pre.result
                    | {{result.#{api.id}}}
    == slim.render 'fragment/footer'
    script type='module'
      |
        import { createApp } from 'vue'
        import { MulukhiyaLib } from 'mulukhiya_lib'
        import { SlideUpDown } from 'slide_toggle'
        import { VTooltip } from 'v_tooltip'
        import Multiselect from '@vueform/multiselect'
        import axios from 'axios'
        import Swal from 'sweetalert2'
        const app = createApp({
          data () {
            return {
              account: {},
              entries: {},
              endpoints: {},
              choices: {},
              query_params: {},
              result: {},
              layout: {
                details: {},
              },
            }
          },
          async created () {
            this.methods.getConfig()
              .then(e => {
                this.account = this.methods.createAccountInfo(e)
              })
          },
          async mounted () {
            JSON.parse(this.$refs.custom_api_entries.innerText).map(entry => {
              const params = {}
              entry.args.map(key => {params[key] = ''})
              this.entries[entry.id] = entry
              if (entry.choices) {
                Object.keys(entry.choices).map(k => {
                  axios.get(entry.choices[k]).then(e => {
                    this.choices[`${entry.id}_${k}`] = e.data.map((label, value) => {
                      return {label, value}
                    })
                  })
                })
              }
              this.query_params[entry.id] = params
              this.endpoints[entry.id] = `${entry.fullpath}`
              this.layout.details[entry.id] = false
            })
          },
          methods: {
            onInputCustomAPI (id, key) {
              let endpoint = `/mulukhiya/api/${this.entries[id].path}`
              this.query_params[id][key] = event.target.value || event.target.innerText
              Object.keys(this.query_params[id]).map(k => {
                endpoint = endpoint.replace(`:${k}`, this.query_params[id][k])
              })
              this.endpoints[id] = endpoint
            },
            toggleVisibility (name) {
              this.layout.details[name] = !this.layout.details[name]
            },
            execCustomAPI (id) {
              this.result[id] = null
              this.methods.execGET(this.endpoints[id])
                .then(e => this.result[id] = e)
                .catch(e => Swal.fire({text: e.message, icon: 'error'}))
            },
          },
        })
        app.use(MulukhiyaLib)
        app.component('slide-up-down', SlideUpDown)
        app.directive('tooltip', VTooltip)
        app.component('multiselect', Multiselect)
        app.mount('#app')
