<%# encoding: UTF-8 -%>
<%= render('fragment/header') %>
<nav class="breadcrumbs">
  <ul>
    <li><a href="/"><%= Mulukhiya::Environment.controller_class.name %></a>
    <li><a href="/mulukhiya">モロヘイヤHOME</a>
    <li>環境設定
  </ul>
</nav>
<main id="app">
  <div id="message-container" v-show="message">
    <p>{{message}}</p>
  </div>
  <h2>環境設定</h2>
  <div v-if="token_error" class="alert">
    <a href="/mulukhiya/app/auth">アプリケーションの認証</a>を行ってください。
  </div>
  <div v-if="response_error" class="alert">
    {{message}}
  </div>
  <div id="result-container" v-if="result">
    <h3>現在の設定</h2>
    <pre>{{result}}</pre>
  </div>
  <div v-if="access_token">
    <h3>アクセストークン</h3>
    <textarea id="token_text" class="short">{{access_token}}</textarea>
    <i class="fas fa-clipboard" v-on:click="copyToken"></i>
  </div>
  <div v-if="webhook_url">
    <h3>Webhook URL</h3>
    <textarea id="webhook_text">{{webhook_url}}</textarea>
    <i class="fas fa-clipboard" v-on:click="copyWehbook"></i>
  </div>
</main>
<script>
new Vue({
  el: '#app',
  data: {
    token_error: false,
    response_error: false,
    result: null,
  },
  mounted: function () {
    const token = localStorage.getItem('mulukhiya_token')
    if (token) {
      axios.get('/mulukhiya/config?token=' + encodeURIComponent(token), {responseType: 'json'})
        .then(e => {
          this.result = jsyaml.safeDump(e.data.config)
          this.access_token = e.data.config.webhook.token
          this.webhook_url = e.data.config.webhook.url
          this.username = e.data.account.username
          this.message = 'login: @' + this.username
        }).catch(e => {
          this.response_error = true
          this.message = e.message
        })
    } else {
      this.token_error = true
    }
  },
  methods: {
    copyToken: function () {
      document.getElementById('token_text').select()
      document.execCommand('copy')
    },
    copyWehbook: function () {
      document.getElementById('webhook_text').select()
      document.execCommand('copy')
    },
  },
})
</script>
<%= render('fragment/footer') %>
