doctype html
html lang='ja'
  head
    == slim.render 'fragment/metadata'
    == slim.render 'fragment/assets'
  body
    == slim.render 'fragment/header'
    == slim.render 'fragment/breadcrumbs', {current: '環境設定'}
    main id='app'
      == slim.render 'fragment/message'
      h2 環境設定
      #result-container v-if='result'
        h3 現在の設定
        pre = '{{result}}'
        h3 GROWI
        .inline-field-container
          h4 トークン
          input id='growi_token_text' v-model='growi_token' maxlength='256'
        .inline-field-container
          h4 URL
          input id='growi_URL_text' v-model='growi_url' maxlength='256'
        .field-update-button-container
          button v-on:click='updateGrowi' 更新
        h3 Dropbox
        .inline-field-container
          h4 トークン
          input id='dropbox_token_text' v-model='dropbox_token' maxlength='256'
        .field-update-button-container
          button v-on:click='updateDropbox' 更新
        h3 Webhook
        .field-container v-if='access_token'
          h4 アクセストークン
          textarea id='token_text' class='short' = '{{access_token}}'
          i class='fas fa-clipboard' v-on:click='copyToken'
        .field-container v-if='webhook_url'
          h4 URL
          textarea id='webhook_text' = '{{webhook_url}}'
          i class='fas fa-clipboard' v-on:click='copyWehbook'
    == slim.render 'fragment/footer'
    javascript:
      new Vue({
        el: '#app',
        data: {
          message: null,
          username: null,
          token_error: false,
          result: null,
        },
        mounted: function () {
          const token = localStorage.getItem('mulukhiya_token')
          if (token) {
            const href = '/mulukhiya/config?token=' + encodeURIComponent(token)
            axios.get(href, {responseType: 'json'})
              .then(e => {
                this.result = jsyaml.safeDump(e.data.config)
                this.access_token = e.data.config.webhook.token
                this.webhook_url = e.data.config.webhook.url
                this.growi_token = e.data.config.growi.token
                this.growi_url = e.data.config.growi.url
                this.dropbox_token = e.data.config.dropbox.token
                this.username = e.data.account.username
              }).catch(e => {
                this.message = e.message
              })
          } else {
            this.token_error = true
          }
        },
        methods: {
          copyToken: function () {
            document.getElementById('token_text').select()
            document.execCommand('copy')
          },
          copyWehbook: function () {
            document.getElementById('webhook_text').select()
            document.execCommand('copy')
          },
          updateGrowi: function () {
            const values = {
              status: {
                command: 'user_config',
                growi: {url: null, token: null},
              },
              token: localStorage.getItem('mulukhiya_token'),
            }
            if (this.growi_url) {
              values.status.growi.url = this.growi_url
            }
            if (this.growi_token) {
              values.status.growi.token = this.growi_token
            }
            values.status = JSON.stringify(values.status)
            axios.post('/mulukhiya/config', values)
              .then(e => {
                this.result = jsyaml.safeDump(e.data.config)
                this.message = null
              }).catch(e => {
                this.message = e.response.data.error || e.message
              })
          },
          updateDropbox: function () {
            const values = {
              status: {
                command: 'user_config',
                dropbox: {token: null},
              },
              token: localStorage.getItem('mulukhiya_token'),
            }
            if (this.dropbox_token) {
              values.status.dropbox.token = this.dropbox_token
            }
            values.status = JSON.stringify(values.status)
            axios.post('/mulukhiya/config', values)
              .then(e => {
                this.result = jsyaml.safeDump(e.data.config)
                this.message = null
              }).catch(e => {
                this.message = e.response.data.error || e.message
              })
          },
        },
      })
