<%# encoding: UTF-8 -%>
<!doctype html>
<html lang="ja">
<head>
	<title><%= MulukhiyaTootProxy::Environment.name %></title>
	<meta charset="utf-8">
	<meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=800">
	<style type="text/css">
		body {
			width: 800px;
			font-size: 100%;
		}
		form {
			border: 1px solid black;
			padding: 6px;
		}
		input {
			font-size: 100%;
		}
	</style>
</head>
<body>
	<form method="POST" action="/mulukhiya/apps/auth">
		<ol>
			<li><a href="<%= params[:oauth_url] %>" target="_blank">認証コードを取得</a></li>
			<li>
				取得した認証コードを↓に貼り付けて…
				<label><input type="text" name="code" size="64" placeholder="認証コード" maxlength="64"></label>
			</li>
			<li>
				<input type="submit" value="認証する">
			</li>
		</ol>
	</form>
</body>
</html>