doctype html
html lang='ja'
  head
    == slim.render 'fragment/metadata'
    == slim.render 'fragment/assets'
  body
    == slim.render 'fragment/header'
    == slim.render 'fragment/breadcrumbs', {current: '環境設定'}
    main id='app' class=env.type
      == slim.render 'fragment/message'
      h2 環境設定
      section v-if='username'
        h3 現在の設定
        .result-container
          pre = '{{result}}'
      section class='config' v-if='username'
        h3 @click='toggleVisibility("tags")' 固定タグ
        vue-slide-up-down :active='layout.details.tags'
          .field-container
            textarea placeholder='タグ化する文字列を改行区切りで' v-model.trim='form.tags'
            v-select :options='options.program' @input='onChangeTags' v-model='form.program'
          .field-update-button-container
            button @click='updateTags' 更新
      section class='config' v-if='username && layout.sections.livecure'
        h3 @click='toggleVisibility("livecure")' = "実況#{controller.status_label}"
        vue-slide-up-down :active='layout.details.livecure'
          .inline-field-container
            label
              input type='checkbox' v-model='form.livecure' = "実況#{controller.status_label}を隠す"
          .field-update-button-container
            button @click='updateLivecure' 更新
      section class='config' v-if='username && layout.sections.growi'
        h3 @click='toggleVisibility("growi")' GROWI
        vue-slide-up-down :active='layout.details.growi'
          ol
            li
              | GROWIのアカウントをお持ちでなければ、
              a href='https://growi.cloud/' target='_blank' GROWI.cloud
              | で新しいGROWIサーバを登録してください。
              br
              | フリープランもあります。サーバを登録する手順の中で、新しいユーザーが作成できます。
            li
              | GROWIサーバのURLと、APIトークンを下の欄に入力してください。
              br
              | APIトークンは、ユーザー設定画面（画面右上のユーザーアイコンをクリック）から作成できます。
            li
              | 必要ならば
              code = "/user/{{username}}/draft"
              | 等、記事作成先を入力してください。
              br
              | 空欄の場合は
              code = "/mulukhiya/user/{{username}}"
              | に記事が作成されます。
            li 更新ボタンを押下。
          .inline-field-container
            h4 トークン
            input placeholder='GROWIのAPIトークン' v-model.trim='form.growi.token'
          .inline-field-container
            h4 URL
            input placeholder='GROWIのルートURL' v-model.trim='form.growi.url'
          .inline-field-container
            h4 記事作成先
            input placeholder='記事作成先のパス' v-model.trim='form.growi.prefix'
          .field-update-button-container
            button @click='updateGrowi' 更新
      section class='config' v-if='username && layout.sections.dropbox'
        h3 @click='toggleVisibility("dropbox")' Dropbox
        vue-slide-up-down :active='layout.details.dropbox'
          ol
            li
              | Dropboxの開発者向けページで、
              a href='https://www.dropbox.com/developers/apps' target='_blank' アプリケーション登録
              | を行ってください。
            li アクセストークンを取得して、下の欄に入力してください。
            li 更新ボタンを押下。
          .inline-field-container
            h4 トークン
            input placeholder='Dropboxのアクセストークン' v-model.trim='form.dropbox.token'
          .field-update-button-container
            button @click='updateDropbox' 更新
      section class='config' v-if='username && layout.sections.twitter'
        h3 @click='toggleVisibility("twitter")' Twitter
        vue-slide-up-down :active='layout.details.twitter'
          .field-update-button-container
            a :href='hrefs.twitter'
              img src='/mulukhiya/sign_in_twitter.png'
            button class='alert' @click='unauthTwitter' 認証を解除
      section class='config' v-if='username && layout.sections.annict'
        h3 @click='toggleVisibility("annict")' Annict
        vue-slide-up-down :active='layout.details.annict'
          ol
            li
              | アカウントを持っていない場合は、
              a href='https://annict.jp/sign_up' target='_blank' ユーザー登録
              | を行ってください。
            li
              a href=annict.oauth_uri target='_blank' 認証コードを取得
              | して、下の欄に入力してください。
            li 認証ボタンを押下。
          .inline-field-container
            h4 認証コード
            input placeholder='Annictの認証コード' v-model.trim='form.annict.auth_code'
          .field-update-button-container
            button @click='authAnnict' 認証
            button class='alert' @click='unauthAnnict' 認証を解除
      section class='config' v-if='username'
        h3 @click='toggleVisibility("webhook")' Slack互換webhook
        vue-slide-up-down :active='layout.details.webhook'
          .inline-field-container
            h4 トークン
            input placeholder='webhookのアクセストークン' v-model.trim='form.webhook.token'
          .inline-field-container
            h4 公開範囲
            v-select :options='options.visibility' v-model='form.webhook.visibility'
          .field-update-button-container
            button @click='updateWebhook' 更新
          .field-container v-if='form.webhook.url'
            h4 URL
            textarea ref='webhook_url_text' = '{{form.webhook.url}}'
            i class='fas fa-clipboard' @click='copyWebhookURL' v-tooltip.bottom="'クリップボードにコピー'"
            .alert このURLを公開してはいけません。パスワードと同じと思って、厳重に管理してください。
          .field-container v-if='form.webhook.url'
            h4 curlサンプル
            textarea ref='curl_sample_text' v-html='form.webhook.curl_sample'
            i class='fas fa-clipboard' @click='copyCurlSample' v-tooltip.bottom="'クリップボードにコピー'"
      section class='config' v-if='username'
        h3 @click='toggleVisibility("notify")' 通知
        vue-slide-up-down :active='layout.details.notify'
          .inline-field-container
            label
              input type='checkbox' v-model='form.notify.user_config' 設定変更を通知
            label class='alert'
              input type='checkbox' v-model='form.notify.verbose' 冗長な通知（管理者・開発者向け）
          .field-update-button-container
            button @click='updateNotify' 更新
    == slim.render 'fragment/footer'
    javascript:
      'use strict'
      Vue.use(VTooltip)
      Vue.use(MulukhiyaLib)
      Vue.use(window.VuejsDialog.main.default)
      Vue.component('vue-slide-up-down', VueSlideUpDown)
      Vue.component('v-select', VueSelect.VueSelect)
      new Vue({
        el: '#app',
        data: {
          message: null,
          username: null,
          token_error: false,
          result: null,
          programs: [],
          form: {
            notify: {user_config: null, verbose: null},
            livecure: false,
            annict: {auth_code: null},
            program: null,
            tags: [],
            webhook: {token: null, visibility: null, url: null, curl_sample: null},
            growi: {token: null, url: null, prefix: null},
            dropbox: {token: null},
          },
          options: {
            program: [],
            visibility: [],
          },
          layout: {
            sections: {
              livecure: #{controller.livecure?},
              growi: #{controller.growi?},
              dropbox: #{controller.dropbox?},
              twitter: #{controller.twitter?},
              annict: #{controller.annict?},
            },
            details: {
              growi: false,
              dropbox: false,
              tags: false,
              livecure: false,
              webhook: false,
              notify: false,
              twitter: false,
              annict: false,
            },
          },
          hrefs: {twitter: null},
        },
        mounted: function () {
          Vue.getConfig()
            .then(e => {
              this.hrefs.twitter = Vue.createPath('/auth/twitter')
              this.username = e.account.username
              this.updateForm(e)
            }).catch(e => {
              this.message = e.response.data.error || e.message
              this.token_error = true
            })
          Vue.getPrograms()
            .then(e => {
              this.programs = e
              this.options.program = Object.values(e)
                .filter(program => {return program.enable})
                .map(p => {
                  return {code: p.key, label: Vue.createProgramTags(p).join(' ')}
                })
            })
        },
        methods: {
          updateForm: function (data) {
            this.result = jsyaml.safeDump(data.config)
            if (data.config.webhook) {
              this.form.webhook.token = data.config.webhook.token
              this.form.webhook.url = data.config.webhook.url
              this.form.webhook.visibility = data.config.webhook.visibility || 'public'
              this.form.webhook.curl_sample = String.raw`curl -H 'Content-Type: application/json' -X POST -d '{"text":"#{config['/webhook/sample'].strip.gsub(/\n/,'\n')}"}' ${data.config.webhook.url}`
            }
            if (data.config.tags) {
              this.form.tags = data.config.tags.join("\n")
            }
            if (data.config.growi) {
              this.form.growi.token = data.config.growi.token
              this.form.growi.url = data.config.growi.url
              this.form.growi.prefix = data.config.growi.prefix
            }
            if (data.config.dropbox) {
              this.form.dropbox.token = data.config.dropbox.token
            }
            if (data.config.notify) {
              this.form.notify.user_config = data.config.notify.user_config ? 1 : 0
              this.form.notify.verbose = data.config.notify.verbose ? 1 : 0
            }
            if (Array.isArray(data.filters)) {
              data.filters.map(f => {
                if (f.phrase == '#実況') {this.form.livecure = true}
              })
            }
            Object.keys(data.visibility_names).map(k => {
              const v = data.visibility_names[k]
              this.options.visibility.push({
                label: k == v ? k : `${v} (${k})`,
                code: v,
              })
            })
          },
          updateConfig: function (command) {
            document.body.style.cursor = 'wait'
            Vue.updateConfig(command)
              .then(e => {
                document.body.style.cursor = 'auto'
                this.message = null
                this.updateForm(e)
              }).catch(e => {
                document.body.style.cursor = 'auto'
                this.message = e.response.data.error || e.message
              })
          },
          copyWebhookURL: function () {
            this.$refs.webhook_url_text.select()
            document.execCommand('copy')
          },
          copyCurlSample: function () {
            this.$refs.curl_sample_text.select()
            document.execCommand('copy')
          },
          onChangeTags: function (e) {
            const program = this.programs[e.code]
            if (program) {
              const tags = Vue.createProgramTags(program)
              tags.unshift('実況')
              this.form.tags = tags.join("\n")
            } else {
              this.form.tags = ''
            }
          },
          toggleVisibility: function (name) {
            this.layout.details[name] = !this.layout.details[name]
          },
          updateGrowi: function () {
            const command = {growi: {url: null, token: null, prefix: null}}
            if (this.form.growi.token) {command.growi.token = this.form.growi.token}
            if (this.form.growi.url) {command.growi.url = this.form.growi.url}
            if (this.form.growi.prefix) {command.growi.prefix = this.form.growi.prefix}
            this.updateConfig(command)
          },
          updateDropbox: function () {
            const command = {dropbox: {token: null}}
            if (this.form.dropbox.token) {command.dropbox.token = this.form.dropbox.token}
            this.updateConfig(command)
          },
          updateTags: function () {
            const command = {tags: null}
            if (this.form.tags) {command.tags = this.form.tags.split("\n")}
            this.updateConfig(command)
          },
          updateLivecure: function () {
            const command = {
              command: 'filter',
              tag: '実況',
              action: this.form.livecure ? 'register' : 'unregister',
            }
            const values = {
              token: Vue.getToken(),
              status: JSON.stringify(command),
              text: JSON.stringify(command),
            }
            document.body.style.cursor = 'wait'
            axios.post('/mulukhiya/filter', values)
              .then(e => {
                document.body.style.cursor = 'auto'
                this.message = null
                this.layout.details.livecure = false
              }).catch(e => {
                document.body.style.cursor = 'auto'
                this.message = e.response.data.error || e.message
              })
          },
          updateWebhook: function () {
            const command = {webhook: {token: null, visibility: null}}
            if (this.form.webhook.token) {
              command.webhook.token = this.form.webhook.token
              if (this.form.webhook.visibility.code != 'public') {
                command.webhook.visibility = this.form.webhook.visibility.code
              }
            }
            this.updateConfig(command)
          },
          updateNotify: function () {
            const command = {notify: {verbose: null, user_config: null}}
            if (this.form.notify.verbose) {command.notify.verbose = true}
            if (this.form.notify.user_config) {command.notify.user_config = true}
            this.updateConfig(command)
          },
          unauthTwitter: function () {
            this.$dialog.confirm(
              {title: '認証の解除', body: 'Twitterのトークンを削除します。'},
              {okText: '削除', cancelText: 'キャンセル'}
            ).then(e => {
              this.updateConfig({twitter: null})
              this.layout.details.twitter = false
            }).catch(e => {
              this.message = e.response.data.error || e.message
            })
          },
          authAnnict: function () {
            const values = {token: Vue.getToken(), code: this.form.annict.auth_code}
            document.body.style.cursor = 'wait'
            axios.post('/mulukhiya/annict/auth', values)
              .then(e => {
                document.body.style.cursor = 'auto'
                this.result = jsyaml.safeDump(e.data.config)
                this.message = null
                this.form.annict.auth_code = null
                this.layout.details.annict = false
              }).catch(e => {
                document.body.style.cursor = 'auto'
                this.message = e.response.data.error || e.message
              })
          },
          unauthAnnict: function () {
            this.$dialog.confirm(
              {title: '認証の解除', body: 'Annictのトークンを削除します。'},
              {okText: '削除', cancelText: 'キャンセル'}
            ).then(e => {
              this.updateConfig({annict: null})
              this.layout.details.livecure = false
            }).catch(e => {
              this.message = e.response.data.error || e.message
            })
          },
        },
      })
