<%# encoding: UTF-8 -%>
<%= render('fragment/header') %>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    if (localStorage.getItem('mulukhiya_token')) {
      const field = document.getElementById('token_field');
      field.setAttribute('value', localStorage.getItem('mulukhiya_token'));
    }
  });
</script>
<nav class="breadcrumbs">
  <ul>
    <li><a href="/"><%= Mulukhiya::Environment.controller_class.name %></a>
    <li><a href="/mulukhiya">モロヘイヤHOME</a>
    <li>環境設定
  </ul>
</nav>
<main>
  <h2>環境設定</h2>
  <form method="POST" action="/mulukhiya/app/auth">
    <input id="token_field" type="hidden" name="i">
    <button>設定を取得</button>
  </form>
</main>
<%= render('fragment/footer') %>
