$serif: serif
$sans-serif: 'Francois One', sans-serif
$monospace: Inconsolata, monospace

body
  font:
    size: 1.2em
    family: $serif
  background:
    image: url(/mulukhiya/logo.jpg)
    repeat: no-repeat
    position: top right
  -webkit-text-size-adjust: 100%

h1,h2,h3,h4,h5,h6
  margin: 0.5em
  font:
    family: $sans-serif
    weight: bold

h1
  background:
    image: url(/mulukhiya/icon.png)
    repeat: no-repeat
    position: center
  text:
    align: center
  font:
    size: 3em
  line-height: 2em

h2:before
  content: '■ '

h3
  border:
    bottom:
      style: solid
      color: darkgray
      width: 1px

p
  margin: 0 0.5em

header
  background:
    image: url(/mulukhiya/icon-24x24.png)
    repeat: no-repeat
    color: green
  font:
    family: $sans-serif
  color: white
  text:
    align: right

footer
  font:
    family: $sans-serif
    size: 0.8em
  text:
    align: center
  a
    color: dimgray
  a:visited
    color: dimgray
  a:hover
    color: black

nav.breadcrumbs
  margin: 6px 0
  border:
    width: 0
    radius: 6px
  padding: 6px
  background:
    color: lightgreen
  opacity: 0.85
  ul
    margin: 0
    line-height: 0.9em
    padding: 0
    li
      font:
        family: $sans-serif
        size: 0.8em
      display: inline
      margin: 0 6px
    a
      color: dimgray
    a:visited
      color: dimgray
    a:hover
      color: black
    a:after
      content: ' >'

nav.menu
  a
    display: block
    margin: 0.5em 8em
    padding: 0.5em 1em
    border:
      width: 1px
      style: solid
      color: lightgreen
      radius: 6px
    background:
      color: honeydew
    font:
      family: $sans-serif
    color: black
    text:
      decoration: none
  a:hover
    color: black
    background:
      color: lightgreen

nav.tokens
  .token
    display: block
    margin: 0.5em 8em
    padding: 0.5em 1em
    border:
      width: 1px
      style: solid
      color: lightgreen
      radius: 6px
    background:
      color: honeydew
    font:
      family: $sans-serif
    color: black
    text:
      decoration: none
    a:hover
      text:
        decoration: none
    i
      float: right
      padding: 4px
    i:hover
      border:
        radius: 2px
      background:
        color: lightgreen
    span.scopes
      display: block
      color: dimgray
      font:
        size: 0.7em
    span.loggedin
      float: right
      font:
        size: 0.8em
      color: green

main
  margin: auto
  width: 760px
  border:
    width: 2px
    style: solid
    color: black
    radius: 6px
  padding: 0.5em
  background:
    color: white
  opacity: 0.95

main.development
  background:
    color: mistyrose

pre
  border:
    width: 1px
    style: solid
    color: black
    radius: 6px
  margin: 0 0.5em
  padding: 0.5em
  overflow: auto
  font:
    family: $monospace

section.config h3:hover
  background:
    color: aliceblue
  cursor: pointer

textarea
  border:
    width: 1px
    style: solid
    color: black
    radius: 6px
  font:
    size: 0.8em
    family: $monospace
  margin: 0 0.5em
  width: 680px
  height: 6em

textarea.short
  height: 2em

input
  font:
    size: 1em

input.code
  width: 680px

button
  font:
    size: 1.2em
    family: $sans-serif
    weight: bold
  border:
    width: 1px
    style: solid
    color: lightgreen
    radius: 6px
  background:
    color: honeydew
  padding: 6px 30px
  cursor: pointer

button:hover
  background:
    color: lightgreen

i
  cursor: pointer

a
  color: royalblue
  text:
    decoration: none

a:visited
  color: royalblue
  text:
    decoration: none

a:hover
  color: navy
  text:
    decoration: underline

.message-container
  border:
    width: 0
    radius: 6px
  padding: 0
  margin: 0.5em
  background:
    color: lightgray
  opacity: 0.85
  font:
    family: $sans-serif
  i
    float: right

#result-container pre
  font:
    size: 0.8em

#result-container.error pre
  background:
    color: lightcoral

.v-select
  margin: 0 0.5em
  width: 680px
  font:
    size: 0.8em

.field-container
  .alert
    margin: 0 0.5em
    font:
      size: 0.8em

.inline-field-container
  h4
    display: inline-block
    width: 100px
  input
    border:
      width: 1px
      style: solid
      color: black
      radius: 6px
    display: inline-block
    width: 600px
    font:
      size: 1em
      family: $monospace
  input[type="checkbox"]
    margin:
      left: 0.5em
    width: 1.5em
  label
    font:
      size: 0.8em

.field-update-button-container
  text:
    align: center
  margin: 6px 0
  button
    display: inline-block
    font:
      size: 0.8em

.alert
  color: red

.tooltip
  font:
    family: $sans-serif
    size: 0.5em
  padding: 2px
  margin: 4px
  background:
    color: white
  border:
    style: solid
    color: back
    width: 1px
    radius: 4px
  opacity: 0.8
