body
  width: 780px
  margin: auto
  font-size: 1.2em
  font-family: serif
  background: url(/mulukhiya/logo.jpg) no-repeat
  background-position: right
  -webkit-text-size-adjust: 100%

h1,h2,h3,h4,h5,h6
  margin: 0.5em
  font-family: sans-serif
  font-weight: bold

header
  background: url(/mulukhiya/icon-24x24.png) no-repeat
  background-color: green
  font-family: sans-serif
  color: white
  text-align: right

nav.breadcrumbs
  margin: 5px 0
  background-color: lightgreen
  opacity: 0.85

nav.breadcrumbs ul
  margin: 0
  line-height: 0.9em
  padding: 0

nav.breadcrumbs ul li
  font-family: sans-serif
  font-size: 0.8em
  display: inline
  margin: 0 5px

nav.breadcrumbs ul a
  color: dimgray

nav.breadcrumbs ul a:hover
  color: black

nav.breadcrumbs ul a:after
  content: ' >'

main
  border: 1px solid black
  margin: 6px 0
  padding: 6px
  border-radius: 10px
  background: white
  opacity: 0.95

pre
  border: 1px solid black
  padding: 6px
  overflow: auto
  font-family: monospace

textarea.toot
  font-size: 1.0em
  font-family: monospace
  width: 680px
  height: 6em

input
  font-size: 1.2em

input.code
  width: 680px

button
  font-size: 1.2em

.alert
  color: red
