body
  width: 800px
  font-size: 1.2em
  font-family: serif

h1,h2,h3,h4,h5,h6
  font-family: sans-serif

header
  background: url(/mulukhiya/icon-24x24.png) no-repeat
  background-color: green
  font-family: sans-serif
  color: white
  text-align: right

form
  border: 1px solid black
  padding: 6px
  border-radius: 10px

pre
  border: 1px solid black
  padding: 6px
  overflow: auto
  font-family: monospace

textarea.toot
  font-size: 1.0em
  font-family: monospace
  width: 100%
  height: 6em

input
  font-size: 1.2em

button
  font-size: 1.2em

.alert
  color: red
