doctype html
html lang='ja'
  head
    == slim.render 'fragment/metadata'
    == slim.render 'fragment/assets'
  body
    == slim.render 'fragment/header'
    == slim.render 'fragment/breadcrumbs', {current: 'ハッシュタグ辞書'}
    main id='app' class=env.type
      == slim.render 'fragment/message'
      h2 ハッシュタグ辞書
      section
        input type='search' placeholder='検索キーワード' v-model.trim='keyword' @keydown.enter='onKeyDown'
        button class='small' @click='search' 検索
      section :class='{"tag_entry":true, "disabled":isDisabledTag(entry.word)}' v-for='entry in result'
        h3
          | {{entry.word}}
          span class='alert' v-if='entry.word.length < #{config['/tagging/word/minimum_length']}' 未使用
        nav v-if='account.username'
          button class='small' :disabled='!isDisabledTag(entry.word)' @click='setTagStatus(entry.word, true)' 有効
          button class='small' :disabled='isDisabledTag(entry.word)' @click='setTagStatus(entry.word, false)' 無効
        ul
          li
            strong パターン
            code = "/{{entry.regexp}}/"
          li
            strong タグ
            code v-for='tag in entry.tags' = "{{tag}} "
    == slim.render 'fragment/footer'
    javascript:
      'use strict'
      Vue.use(VTooltip)
      Vue.use(MulukhiyaLib)
      new Vue({
        el: '#app',
        data: {
          message: null,
          account: {is_admin: false},
          tags: [],
          keyword: null,
          result: {},
        },
        mounted: function () {
          Vue.getConfig()
            .then(e => {
              this.account = e.account
              this.tags = this.dig(e, 'config', 'tagging', 'tags', 'disabled')
            }).catch(e => {this.message = Vue.createErrorMessage(e)})
        },
        methods: {
          onKeyDown: function () {
            if (event.keyCode == 13) {this.search()}
          },
          search: function () {
            if (this.keyword == '') {
              this.result = {}
            } else {
              const indicator = new ActivityIndicator()
              indicator.show()
              const url = new URL('/mulukhiya/api/tagging/tag/search', location.href)
              url.searchParams.set('q', this.keyword)
              axios.get(url.href, {responseType: 'json'})
                .then(e => {
                  this.message = null
                  this.result = e.data
                }).catch(e => {this.message = Vue.createErrorMessage(e)})
                .finally(e => indicator.hide())
            }
          },
          isDisabledTag: function (tag) {
            this.tags = this.tags || []
            return this.tags.includes(tag)
          },
          setTagStatus: function (tag, flag) {
            const command = {tagging: {tags: {disabled: []}}}
            this.tags = this.tags || []
            if (flag) {
              this.tags = this.tags.filter(v => (v != tag))
              if (this.tags.length == 0) {this.tags = null}
            } else {
              this.tags.push(tag)
              this.tags = Array.from(new Set(this.tags))
            }
            command.tagging.tags.disabled = this.tags
            Vue.updateConfig(command)
          },
          dig: function (target, ...keys) {
            let digged = target
            for (const key of keys) {
              if (typeof digged === 'undefined' || digged === null) {
                return undefined
              }
              if (typeof key === 'function') {
                digged = key(digged)
              } else {
                digged = digged[key]
              }
            }
            return digged
          }
        },
      })
