doctype html
html lang='ja'
  head
    == slim.render 'fragment/metadata'
    == slim.render 'fragment/assets'
  body
    == slim.render 'fragment/header'
    == slim.render 'fragment/breadcrumbs', {entries: [{label: 'モロヘイヤHOME', href: '/mulukhiya'}, {label: '動作状況'}]}
    main#app class=env.type
      == slim.render 'fragment/message'
      h2 動作状況
      .result-container :class='{"error": 200 < result.status}'
        pre v-if='result' {{result}}
        .field-update-button-container
          button @click='load' 再読み込み
    == slim.render 'fragment/footer'
    javascript:
      'use strict'
      const app = Vue.createApp({
        data () {
          return {
            account: {is_admin: false, username: null},
            result: {status: 503},
          }
        },
        mounted () {
          this.methods.getConfig()
            .then(e => {this.account = this.methods.createAccountInfo(e)})
            .catch(e => Swal.fire({text: e.message, icon: 'error'}))
          this.load()
        },
        methods: {
          load () {
            this.methods.getHealth().then(e => {this.result = e})
          },
        },
      })
      app.use(window.MulukhiyaLib)
      app.component('slide-up-down', window.SlideUpDown)
      app.directive('tooltip', window.VTooltip);
      app.mount('#app')
