doctype html
html lang='ja'
  head
    == slim.render 'fragment/metadata'
    == slim.render 'fragment/assets'
  body
    == slim.render 'fragment/header'
    == slim.render 'fragment/breadcrumbs', {entries: [{label: 'モロヘイヤHOME', href: '/mulukhiya'}, {label: '動作状況'}]}
    main#app v-cloak='' class=env.type
      == slim.render 'fragment/message'
      h2 動作状況
      .result-container :class='{"error": 200 < result.status}'
        pre v-if='result' {{result}}
        .field-update-button-container
          button @click='load' 再読み込み
    == slim.render 'fragment/footer'
    script type='module'
      |
        import { createApp } from 'vue'
        import { MulukhiyaLib } from 'mulukhiya_lib'
        import { SlideUpDown } from 'slide_toggle'
        import { VTooltip } from 'v_tooltip'
        const app = createApp({
          data () {
            return {
              account: {},
              result: {status: 503},
            }
          },
          async created () {
            this.methods.getConfig().then(e => {this.account = this.methods.createAccountInfo(e)})
            this.load()
          },
          methods: {
            load () {
              this.methods.getHealth().then(e => {this.result = e})
            },
          },
        })
        app.use(MulukhiyaLib)
        app.component('slide-up-down', SlideUpDown)
        app.directive('tooltip', VTooltip)
        app.mount('#app')
