<%# encoding: UTF-8 -%>
<%= render('fragment/header') %>
<nav class="breadcrumbs">
  <ul>
    <li><a href="/"><%= Mulukhiya::Environment.controller_class.name %></a>
    <li>モロヘイヤHOME
  </ul>
</nav>
<main id="app">
  <h1><%= Mulukhiya::Package.name %></h1>
  <ul>
    <% if Mulukhiya::Environment.controller_class.webhook? %>
      <li><a href="/mulukhiya/app/auth">アプリケーションの認証</a>
      <li v-if="config_link"><a href="/mulukhiya/app/config">環境設定</a>
      <li v-else>環境設定 <span class="alert">未認証</span>
    <% else %>
      <li>アプリケーションの認証 <span class="alert">非対応</span>
      <li>環境設定 <span class="alert">非対応</span>
    <% end %>
    <li><a href="/mulukhiya/app/health">動作状況</a>
  </ul>
</main>
<script>
new Vue({
  el: '#app',
  data: {
    config_link: false,
  },
  mounted: function () {
    this.config_link = (localStorage.getItem('mulukhiya_token') != null)
  },
})
</script>
<%= render('fragment/footer') %>
