properties:
  channels:
    items:
      properties:
        name:
          type: string
        notify_to:
          items:
            type: string
          type: array
      required:
        - name
        - notify_to
      type: object
    type: array
  disabled:
    type: boolean
  timeout:
    minimum: 1
    type: integer
type: object
