properties:
  dics:
    items:
      properties:
        edit:
          properties:
            url:
              format: uri
              type: string
          required:
            - url
          type: object
        name:
          type: string
        strict:
          type: boolean
        type:
          enum:
            - multi_field
            - related
            - relative
            - mecab
          type: string
        url:
          format: uri
          type: string
      required:
        - url
      type: object
    type: array
  disabled:
    type: boolean
  timeout:
    minimum: 1
    type: integer
  word:
    properties:
      min:
        minimum: 1
        type: integer
      min_kanji:
        minimum: 1
        type: integer
      without_kanji_pattern:
        format: regex
        type: string
    type: object
type: object
