properties:
  disabled:
    type: boolean
  normalize:
    properties:
      rules:
        items:
          properties:
            normalized:
              type: string
            source:
              type: string
          required:
            - source
            - normalized
          type: object
        type: array
    required:
      - rules
    type: object
  timeout:
    minimum: 1
    type: integer
type: object
