package:
  version: 4.1.10
  url: https://github.com/pooza/mulukhiya-toot-proxy
  description: 投稿内容の更新等を行うプロキシ。通称「モロヘイヤ」。
  authors:
    - Tatsuya Koishi
  email:
    - tkoishi@b-shock.co.jp
  license: MIT
controller: mastodon
environment: development
handler:
  default:
    timeout: 5
  amazon_image:
    timeout: 10
    disable: true
  amazon_nowplaying:
    disable: true
  amazon_url_nowplaying:
    disable: true
  attachment_reusing:
    disable: true
  audio_format_convert:
    timeout: 10
    type: audio/mpeg
  animation_image_format_convert:
    timeout: 10
    type: image/gif
  canonical_url:
    ignore:
      domains:
        - instagram.com
        - toei-anim.co.jp
    useragent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100'
  hexo_announce:
    category: お知らせ
  image_resize:
    pixel: 1280
  image_format_convert:
    type: image/jpeg
  itunes_image:
    pixel: 480
    timeout: 10
  shortened_url:
    domains:
      - t.co
      - goo.gl
      - bit.ly
      - ow.ly
      - amzn.to
      - amzn.asia
      - youtu.be
      - git.io
      - spoti.fi
      - apple.co
  spotify_image:
    timeout: 10
    disable: true
  video_format_convert:
    timeout: 30
    type: video/mp4
worker:
  dropbox_clipping:
    federate: true
  growi_clipping:
    federate: false
  media_cleaning:
    days: 1
parser:
  toot:
    fields:
      body: status
      spoiler: spoiler_text
      attachment: media_ids
      poll:
        options: options
  note:
    fields:
      body: text
      spoiler: cw
      attachment: fileIds
      poll:
        options: choices
test:
  timeout: 20
webui:
  production:
    scripts:
      - https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js
      - https://cdn.jsdelivr.net/npm/vue-select@3.11/dist/vue-select.min.js
      - https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4/dist/vuejs-dialog.min.js
      - https://cdn.jsdelivr.net/npm/vue-slide-up-down@2.0/dist/vue-slide-up-down.umd.js
      - https://cdn.jsdelivr.net/npm/v-tooltip@2.1/dist/v-tooltip.min.js
      - https://cdn.jsdelivr.net/npm/axios@0.21/dist/axios.min.js
      - https://cdn.jsdelivr.net/npm/js-yaml@4.0/dist/js-yaml.min.js
      - /mulukhiya/script/mulukhiya_lib
      - /mulukhiya/script/activity_indicator
    stylesheets:
      - https://cdn.jsdelivr.net/npm/vue-select@3.11/dist/vue-select.css
      - https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4/dist/vuejs-dialog.min.css
      - https://use.fontawesome.com/releases/v5.15.1/css/all.css
      - https://fonts.googleapis.com/css?family=Francois+One|Inconsolata&display=swap
      - /mulukhiya/style/default
  development:
    scripts:
      - https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.js
      - https://cdn.jsdelivr.net/npm/vue-select@3.11/dist/vue-select.min.js
      - https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4/dist/vuejs-dialog.min.js
      - https://cdn.jsdelivr.net/npm/vue-slide-up-down@2.0/dist/vue-slide-up-down.umd.js
      - https://cdn.jsdelivr.net/npm/v-tooltip@2.1/dist/v-tooltip.min.js
      - https://cdn.jsdelivr.net/npm/axios@0.21/dist/axios.js
      - https://cdn.jsdelivr.net/npm/js-yaml@4.0/dist/js-yaml.js
      - /mulukhiya/script/mulukhiya_lib
      - /mulukhiya/script/activity_indicator
    stylesheets:
      - https://cdn.jsdelivr.net/npm/vue-select@3.11/dist/vue-select.css
      - https://cdn.jsdelivr.net/npm/vuejs-dialog@1.4/dist/vuejs-dialog.min.css
      - https://use.fontawesome.com/releases/v5.15.1/css/all.css
      - https://fonts.googleapis.com/css?family=Francois+One|Inconsolata&display=swap
      - /mulukhiya/style/default
  metadata:
    robots: noindex,nofollow
    viewport: width=1000
mastodon:
  display_name: Mastodon
  sns_type: mastodon
  url: https://mstdn.example.com/
  webhook: true
  media_catalog: true
  feed: true
  announcement: true
  filter: true
  annict: true
  futured_tag: true
  dbms: postgres
  parser: toot
  handlers:
    pre_toot:
      - user_config_command
      - filter_command
      - growi_clipping_command
      - dropbox_clipping_command
      - mention_visibility
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - itunes_image
      - spotify_image
      - amazon_image
      - you_tube_image
      - bandai_channel_image
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
      - invalid_command
    post_toot:
      - user_config_command
      - filter_command
      - growi_clipping_command
      - dropbox_clipping_command
      - result_notification
    pre_webhook:
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - itunes_image
      - spotify_image
      - amazon_image
      - you_tube_image
      - bandai_channel_image
      - webhook_image
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
    post_webhook:
      - result_notification
    pre_upload:
      - image_format_convert
      - animation_image_format_convert
      - audio_format_convert
      - video_format_convert
      - image_resize
    post_upload:
      - result_notification
    pre_thumbnail:
      - image_format_convert
      - image_resize
    post_thumbnail:
      - result_notification
    post_fav:
      - result_notification
    post_boost:
      - result_notification
    post_search:
      - result_notification
    post_bookmark:
      - dropbox_bookmark
      - growi_bookmark
      - result_notification
    announce:
      - post_announce
      - growi_announce
      - dropbox_announce
      - hexo_announce
    alert:
      - slack_alert
      - line_alert
      - mail_alert
  oauth:
    redirect_uri: urn:ietf:wg:oauth:2.0:oob
    webui:
      url: /settings/applications
    scopes:
      - write:statuses
      - write:media
      - read:filters
      - write:filters
      - read:search
  status:
    key: id
    label: トゥート
    max_length: 500
  attachment:
    limit: 4
  search:
    limit: 40
misskey:
  display_name: Misskey
  sns_type: misskey
  url: https://misskey.example.com/
  webhook: true
  media_catalog: true
  feed: true
  announcement: true
  annict: true
  futured_tag: true
  dbms: postgres
  parser: note
  handlers:
    pre_toot:
      - user_config_command
      - growi_clipping_command
      - dropbox_clipping_command
      - mention_visibility
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - bandai_channel_image
      - attachment_reusing
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
      - invalid_command
    post_toot:
      - user_config_command
      - growi_clipping_command
      - dropbox_clipping_command
      - result_notification
    pre_webhook:
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - webhook_image
      - bandai_channel_image
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
    post_webhook:
      - result_notification
    pre_chat:
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
    post_chat:
      - result_notification
    pre_upload:
      - image_format_convert
      - animation_image_format_convert
      - audio_format_convert
      - video_format_convert
      - image_resize
    post_upload:
      - result_notification
    post_bookmark:
      - dropbox_bookmark
      - growi_bookmark
      - result_notification
    announce:
      - post_announce
      - growi_announce
      - dropbox_announce
      - hexo_announce
    alert:
      - slack_alert
      - line_alert
      - mail_alert
  oauth:
    webui:
      url: /settings/api
    scopes:
      - write:notes
      - write:drive
      - read:drive
      - read:account
    callback_url: /mulukhiya/app/misskey/auth
  status:
    key: noteId
    label: ノート
    max_length: 500
  attachment:
    limit: 4
meisskey:
  display_name: めいすきー
  sns_type: misskey
  url: https://meisskey.example.com/
  webhook: true
  media_catalog: true
  feed: true
  announcement: true
  annict: true
  futured_tag: true
  dbms: mongo
  parser: note
  handlers:
    pre_toot:
      - user_config_command
      - growi_clipping_command
      - dropbox_clipping_command
      - mention_visibility
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - bandai_channel_image
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
      - invalid_command
    post_toot:
      - user_config_command
      - growi_clipping_command
      - dropbox_clipping_command
      - result_notification
    pre_webhook:
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - webhook_image
      - bandai_channel_image
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
    post_webhook:
      - result_notification
    pre_chat:
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
    post_chat:
      - result_notification
    pre_upload:
      - image_format_convert
      - animation_image_format_convert
      - audio_format_convert
      - video_format_convert
      - image_resize
    post_upload:
      - result_notification
    post_bookmark:
      - dropbox_bookmark
      - growi_bookmark
      - result_notification
    announce:
      - post_announce
      - growi_announce
      - dropbox_announce
      - hexo_announce
    alert:
      - slack_alert
      - line_alert
      - mail_alert
  oauth:
    scopes:
      - write:notes
      - write:drive
      - read:drive
    callback_url: /mulukhiya/app/misskey/auth
  status:
    key: noteId
    label: ポスト
    max_length: 1000
  attachment:
    limit: 4
pleroma:
  display_name: Pleroma
  sns_type: mastodon
  url: https://pleroma.example.com/
  webhook: true
  media_catalog: true
  feed: true
  annict: true
  dbms: postgres
  parser: toot
  handlers:
    pre_toot:
      - user_config_command
      - growi_clipping_command
      - dropbox_clipping_command
      - mention_visibility
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - amazon_image
      - you_tube_image
      - bandai_channel_image
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
      - invalid_command
    post_toot:
      - user_config_command
      - growi_clipping_command
      - dropbox_clipping_command
      - result_notification
    pre_webhook:
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - amazon_image
      - you_tube_image
      - bandai_channel_image
      - webhook_image
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
    post_webhook:
      - result_notification
    pre_chat:
      - itunes_nowplaying
      - amazon_nowplaying
      - spotify_nowplaying
      - songwhip_nowplaying
      - shortened_url
      - url_normalize
      - canonical_url
      - itunes_url
      - spotify_url
      - amazon_url
      - itunes_url_nowplaying
      - amazon_url_nowplaying
      - spotify_url_nowplaying
      - you_tube_url_nowplaying
      - tagging
    post_chat:
      - result_notification
    pre_upload:
      - image_format_convert
      - animation_image_format_convert
      - audio_format_convert
      - video_format_convert
      - image_resize
    post_upload:
      - result_notification
    post_bookmark:
      - dropbox_bookmark
      - growi_bookmark
      - result_notification
    alert:
      - slack_alert
      - line_alert
      - mail_alert
  oauth:
    redirect_uri: urn:ietf:wg:oauth:2.0:oob
    scopes:
      - write:statuses
      - write:media
      - read:statuses
  status:
    key: id
    label: ステータス
    max_length: 5000
  chat:
    field: content
  attachment:
    limit: 4
amazon:
  marketplace: jp
  urls:
    jp: https://www.amazon.co.jp/
  cache:
    ttl: 86400
  resources:
    - Images.Primary.Small
    - Images.Primary.Medium
    - Images.Primary.Large
    - Images.Variants.Small
    - Images.Variants.Medium
    - Images.Variants.Large
    - ItemInfo.ByLineInfo
    - ItemInfo.ContentInfo
    - ItemInfo.ContentRating
    - ItemInfo.Classifications
    - ItemInfo.ExternalIds
    - ItemInfo.Features
    - ItemInfo.ManufactureInfo
    - ItemInfo.ProductInfo
    - ItemInfo.TechnicalInfo
    - ItemInfo.Title
    - ItemInfo.TradeInInfo
  patterns:
    - pattern: /dp/([[:alnum:]]+)
      shortenable: true
    - pattern: /gp/product/([[:alnum:]]+)
      shortenable: true
    - pattern: /exec/obidos/ASIN/([[:alnum:]]+)
      shortenable: true
    - pattern: /o/ASIN/([[:alnum:]]+)
      shortenable: true
    - pattern: /gp/video/detail/([[:alnum:]]+)
      shortenable: true
  affiliate: false
spotify:
  language: ja,en-US;q=0.9,en;q=0.8
  urls:
    track: https://open.spotify.com/
  patterns:
    - pattern: /track/([[:alnum:]]+)
      type: track
    - pattern: /album/([[:alnum:]]+)
      type: album
songwhip:
  urls:
    api: https://songwhip.com
line:
  urls:
    api: https://api.line.me
annict:
  urls:
    oauth: https://annict.jp
    api: https://api.annict.com
  spoiler:
    pattern: (ねた|ネタ)(ばれ|バレ)
  sleep:
    seconds: 0.5
  api:
    me:
      cache:
        ttl: 3600
      fields:
        - id
        - name
        - username
        - url
        - avatar_url
    records:
      limit: 5
      fields:
        - id
        - action
        - created_at
        - work.id
        - work.title
        - work.images
        - episode.id
        - episode.number_text
        - episode.title
        - record.comment
    reviewed_works:
      limit: 5
      fields:
        - id
        - action
        - work.id
    reviews:
      limit: 10
      fields:
        - id
        - created_at
        - body
        - user.id
        - work.id
        - work.title
        - work.images
  oauth:
    redirect_uri: urn:ietf:wg:oauth:2.0:oob
    scopes:
      - read
itunes:
  country: jp
  lang: ja_jp
  urls:
    search: https://itunes.apple.com/search
    lookup: https://itunes.apple.com/lookup
  patterns:
    - pattern: /album/.*?/?([[:digit:]]+)$
      shortenable: true
  hosts:
    - music.apple.com
    - itunes.apple.com
youtube:
  url: https://www.googleapis.com/
bandai_channel:
  hosts:
    - www.b-ch.com
  patterns:
    - pattern: ^/titles/([[:digit:]]+)/?([[:digit:]]+)?$
twittodon:
  pattern: \n(\n\(?.*?via\.\s+[^)]*\)?)$
nowplaying:
  album:
    prefix: 'Album:'
  track:
    prefix: 'Title:'
  artist:
    prefix: 'Artist:'
    parser:
      delimiter:
        pattern: '[/、]'
      patterns:
        - pattern: ^[^():]+[/、]
          delimited: true
        - pattern: '^(((歌|語り):)?.+\s*\(CV[.:]\s*.+\)、?){2,}$'
          delimited: true
        - pattern: '^(.+\s*\(.+\)、?){2,}$'
          delimited: true
        - pattern: '^((歌|語り):)?(.+)\s*\(CV[.:]\s*(.+)\)$'
          items:
            - drop: true
            - drop: true
            - split: true
            - strip: true
              split: true
              prefix: 'CV:'
        - pattern: '^歌:(.+)\s*コーラス:(.+)$'
          items:
            - split: true
            - strip: true
              split: true
              prefix: 'コーラス:'
        - pattern: '^歌:(.+)$'
          items:
            - split: true
        - pattern: '^(.+)\s*\(コーラス:(.+)\)$'
          items:
            - split: true
            - strip: true
              split: true
              prefix: 'コーラス:'
        - pattern: '^(.+)\s*\(as\s*(.+)\)$'
          items:
            - strip: true
              prefix: 'CV:'
            - split: true
        - pattern: '^(.+)\s*\((.+)\)$'
          items:
            - split: true
            - strip: true
              split: true
        - pattern: '^(.+)\s*feat\.\s*(.+)$'
          items:
            - split: true
            - strip: true
              split: true
              prefix: feat.
user_config:
  redis:
    dsn: redis://localhost:6379/1
media:
  metadata:
    cache:
      ttl: 8640000 #100日
postgres:
  dsn: null
  query_log: false
  slow_query:
    seconds: 3
mongo:
  dsn: null
  query_log: false
alert:
  slack:
    hooks: []
sidekiq:
  dashboard:
    url: /mulukhiya/sidekiq
  redis:
    dsn: redis://localhost:6379/2
  auth:
    user: admin
    password: ''
  dynamic: true
  concurrency: 5
  schedule:
    media_cleaning:
      every: 60m
      class: Mulukhiya::MediaCleaningWorker
    tagging_dictionary_update:
      every: 10m
      class: Mulukhiya::TaggingDictionaryUpdateWorker
    program_update:
      every: 10m
      class: Mulukhiya::ProgramUpdateWorker
    annict_polling:
      every: 5m
      class: Mulukhiya::AnnictPollingWorker
    announcement:
      every: 1m
      class: Mulukhiya::AnnouncementWorker
puma:
  port: 3008
  pidfile: tmp/pids/puma.pid
  rackup: app/initializer/config.ru
tagging:
  user_tags:
    extra_minutes: 2
    clear_message: 固定タグをクリアしました。
  word:
    minimum_length: 3
  media:
    enable: true
    tags:
      image: image
      video: video
      audio: audio
  dictionaries:
    - url: https://precure.ml/api/dic/v1/precure.json
      type: relative
    - url: https://precure.ml/api/dic/v1/singer.json
      type: relative
    - url: https://precure.ml/api/dic/v1/series.json
      type: relative
    - url: https://precure.ml/api/dic/v2/fairy.json
feed:
  tag:
    limit: 100
  media:
    limit: 100
http:
  retry:
    limit: 3
    seconds: 1
redis:
  retry:
    limit: 3
    seconds: 1
nodeinfo:
  cache:
    ttl: 3600
webhook:
  sample: |
    あんなの、戦いのうちに入らないわ。
    奴らが本気で攻めてきたとき、あなたは本当に大切な人を守れるの？
agent:
  accts:
    - '@relayctl@hashtag-relay.dtp-mstdn.jp'
crypt:
  password: mulukhiya
  salt: mulukhiya
  encoder: base64
