agent:
  accts:
    - '@relayctl@hashtag-relay.dtp-mstdn.jp'
  info:
    announcement:
      template: announcement
    token: null
    username: info
    webhook:
      secret: null
    welcome:
      template: welcome
  test:
    token: null
    username: test
akkoma:
  display_name: Akkoma
  sns_type: mastodon
api:
  cache:
    ttl: 86400
  custom: []
calckey:
  capabilities:
    reaction: true
  display_name: Calckey
  sns_type: misskey
cherrypick:
  capabilities:
    reaction: true
  display_name: CherryPick
  sns_type: misskey
cli:
  progress_bar:
    format: '%c/%C (%p%%)| %B'
controller: mastodon
crypt:
  encoder: base64
  password: mulukhiya
environment: development
fedibird:
  display_name: Fedibird
  sns_type: mastodon
feed:
  cache:
    ttl: 300
  custom: []
  media:
    limit: 100
  tag:
    limit: 100
ffmpeg:
  audio:
    bitrate: 192 # kbps
  crf: 22
  preset: veryfast
firefish:
  capabilities:
    reaction: true
  display_name: Firefish
  sns_type: misskey
handler:
  announcement_mention:
    pattern: お[知し]らせ
  audio_format_convert:
    timeout: 30
  channel_notification:
    channels: []
    disable: true
  default:
    experimental: false
    timeout: 5
    toggleable: true
  default_tag:
    tags: []
  dictionary_tag:
    dics: []
    word:
      min: 2
      min_kanji: 2
      without_kanji_pattern: '[0-9a-zA-Zあ-んア-ン]'
  image_copyright:
    message: ※画像有 著作権表示 参照のこと
    tag: null
    url: null
  image_resize:
    pixel: 1920
  invalid_command:
    toggleable: false
  itunes_image:
    disable: true
    pixel: 480
    timeout: 10
  itunes_nowplaying:
    timeout: 10
  itunes_url_nowplaying:
    tagging: false
    timeout: 10
  line_alert:
    id: null
    token: null
  mail_alert:
    sendmail_bin: /usr/sbin/sendmail
    to: null
  media_tag:
    disable: true
    tags:
      audio: audio
      image: image
      video: video
  peer_tube_url_nowplaying:
    tagging: false
    timeout: 10
  poipiku_image:
    fanart_tag: fanart
    timeout: 10
  remote_tag:
    services:
      - pattern: (プリキュア|ぷりきゅあ|キュアスタ|きゅあすきー|precure)
        tags:
          - precure_fun
        url: https://precure.ml
      - pattern: (ダイ(大|の大冒険)|デル(ムリン)?丼|ダイスキー|delmulin)
        tags:
          - delmulin
        url: https://mstdn.delmulin.com
    toggleable: false
  removal_rule_tag:
    disable: true
    rules: []
  result_notification:
    spoiler_text: 実行結果
  slack_alert:
    hooks: []
  spotify_image:
    disable: true
    timeout: 10
  spotify_nowplaying:
    timeout: 10
  spotify_url_nowplaying:
    tagging: true
    timeout: 10
  tagging:
    normalize:
      rules: []
    toggleable: false
  user_config_command:
    toggleable: false
  user_tag:
    extra_minutes: 2
  video_format_convert:
    timeout: 90
  webhook_image:
    timeout: 10
  you_tube_image:
    disable: true
    timeout: 10
  you_tube_url_nowplaying:
    tagging: false
    timeout: 10
  pipeline:
    base:
      alert:
        - slack_alert
        - line_alert
        - mail_alert
      announce:
        - post_announce
      follow: []
      user_created:
        - welcome_mention
      mention:
        - announcement_mention
        - welcome_mention
      post_bookmark:
        - piefed_bookmark
        - result_notification
      post_boost:
        - result_notification
      post_fav:
        - result_notification
      post_toot:
        - user_config_command
        - piefed_clipping_command
        - channel_notification
        - result_notification
      post_webhook:
        - result_notification
      pre_toot:
        - user_config_command
        - piefed_clipping_command
        - mention_visibility
        - itunes_nowplaying
        - spotify_nowplaying
        - itunes_image
        - spotify_image
        - you_tube_image
        - shortened_url
        - url_normalize
        - itunes_url
        - amazon_url
        - itunes_url_nowplaying
        - spotify_url_nowplaying
        - you_tube_url_nowplaying
        - peer_tube_url_nowplaying
        - spoiler
        - default_tag
        - dictionary_tag
        - media_tag
        - user_tag
        - remote_tag
        - removal_rule_tag
        - image_copyright
        - tagging
        - invalid_command
      pre_webhook:
        - itunes_nowplaying
        - spotify_nowplaying
        - itunes_image
        - spotify_image
        - you_tube_image
        - poipiku_image
        - webhook_image
        - shortened_url
        - url_normalize
        - itunes_url
        - amazon_url
        - itunes_url_nowplaying
        - spotify_url_nowplaying
        - you_tube_url_nowplaying
        - peer_tube_url_nowplaying
        - spoiler
        - default_tag
        - dictionary_tag
        - media_tag
        - remote_tag
        - removal_rule_tag
        - image_copyright
        - tagging
      post_thumbnail:
        - result_notification
      post_upload:
        - result_notification
      pre_thumbnail:
        - image_format_convert
        - image_resize
      pre_upload:
        - image_format_convert
        - audio_format_convert
        - video_format_convert
        - image_resize
    misskey:
      post_reaction:
        - reply_reaction
        - result_notification
      pre_draft:
        - default_tag
        - removal_rule_tag
        - tagging
      pre_toot:
        exclude:
          - itunes_image
          - spotify_image
          - you_tube_image
      pre_webhook:
        exclude:
          - itunes_image
          - spotify_image
          - you_tube_image
http:
  retry:
    limit: 3
    seconds: 1
  timeout:
    seconds: 30
iceshrimp:
  capabilities:
    reaction: true
  display_name: Iceshrimp
  sns_type: misskey
logger:
  mask_fields:
    - password
    - secret
mastodon:
  attachment:
    types:
      audio: audio/mpeg
      image: image/webp
      video: video/mp4
  capabilities:
    repost: true
    streaming: true
  data:
    account_timeline: true
    favorite_tags: true
    futured_tag: true
    media_catalog: true
  dbms: postgres
  display_name: Mastodon
  features:
    annict: true
    announcement: true
    feed: true
    webhook: true
  oauth:
    callback:
      enable: true
    scopes:
      - read
      - write:statuses
      - write:media
    webui:
      url: /settings/applications
  sns_type: mastodon
  status:
    default_max_length: 500
    delete:
      limit: 30
    key: id
    label: 投稿
    parser: toot
    spoiler_text: null
  streaming:
    verify_peer: true
  theme:
    color: '#777777'
  url: https://mstdn.example.com/
media:
  metadata:
    cache:
      ttl: 8640000
misskey:
  attachment:
    limit: 16
    types:
      audio: audio/mpeg
      image: image/webp
      video: video/mp4
  capabilities:
    channel: true
    decoration: true
    reaction: true
    repost: true
    streaming: true
  chat:
    field: text
  data:
    account_timeline: true
    favorite_tags: true
    futured_tag: true
    media_catalog: true
  dbms: postgres
  display_name: Misskey
  features:
    annict: true
    announcement: true
    feed: true
    webhook: true
  oauth:
    callback:
      enable: true
    scopes:
      - write:notes
      - write:drive
      - read:account
      - read:drive
    webui:
      url: /settings/api
  sns_type: misskey
  status:
    default_max_length: 3000
    key: noteId
    label: ノート
    parser: note
    spoiler_text: null
  streaming:
    verify_peer: true
  url: https://misskey.example.com/
nowplaying:
  album:
    prefix: 'Album:'
  artist:
    prefix: 'Artist:'
  domains:
    - music.apple.com
    - itunes.apple.com
    - spotify.com
    - youtube.com
  track:
    prefix: 'Title:'
package:
  authors:
    - Tatsuya Koishi
  description: 各種ActivityPub対応インスタンスへの投稿に対して、内容の更新等を行うプロキシ。通称「モロヘイヤ」。
  email:
    - tkoishi@b-shock.co.jp
  license: MIT
  url: https://github.com/pooza/mulukhiya-toot-proxy
  version: 5.0.0
parser:
  note:
    fields:
      attachment: fileIds
      body: text
      poll:
        options: choices
        root: poll
      reply_to: replyId
      spoiler: cw
      visibility: visibility
      visible_users: visibleUserIds
  toot:
    fields:
      attachment: media_ids
      body: status
      poll:
        options: options
        root: poll
      reply_to: in_reply_to_id
      spoiler: spoiler_text
      visibility: visibility
postgres:
  dsn: null
  query_log: false
  slow_query:
    seconds: 3
program:
  urls: []
puma:
  pidfile: tmp/pids/puma.pid
  port: 3008
  rackup: app/initializer/config.ru
  restart:
    seconds: 2
  threads: 5
  workers: 0
redis:
  retry:
    limit: 3
    seconds: 1
ruby:
  bundler:
    install: false
  did_you_mean: true
service:
  amazon:
    patterns:
      - pattern: /dp/([[:alnum:]]+)
        shortenable: true
      - pattern: /gp/product/([[:alnum:]]+)
        shortenable: true
      - pattern: /exec/obidos/ASIN/([[:alnum:]]+)
        shortenable: true
      - pattern: /o/ASIN/([[:alnum:]]+)
        shortenable: true
      - pattern: /gp/video/detail/([[:alnum:]]+)
        shortenable: true
    urls:
      jp: https://www.amazon.co.jp/
  annict:
    browser:
      viewer:
        works: false
    episodes:
      ruby:
        pattern: '[(（][あ-んア-ン・ー]+[)）]'
        trim: true
    oauth:
      redirect_uri: urn:ietf:wg:oauth:2.0:oob
      scopes:
        default:
          - read
    review:
      suffixes:
        bad: （評価:良くない）
        spoiler: （ネタバレ）
    timeout: 5
    urls:
      api:
        graphql: https://api.annict.com/graphql
        rest: https://api.annict.com
      default: https://annict.com
    works: []
  itunes:
    country: jp
    hosts:
      - music.apple.com
      - itunes.apple.com
    lang: ja_jp
    patterns:
      album: /album/.*?/?([[:digit:]]+)$
      song: /song/.*?/?([[:digit:]]+)$
      track: /album/.*?/?([[:digit:]]+)$
    urls:
      lookup: https://itunes.apple.com/lookup
      search: https://itunes.apple.com/search
  lemmy:
    api:
      version: v3
    communities:
      limit: 50
    subject:
      max_length: 200
  line:
    id: null
    token: null
    urls:
      api: https://api.line.me
  peer_tube:
    hosts:
      - fedimovie.com
    urls:
      api:
        video: /api/v1/videos/
      video:
        - /w/
        - /videos/watch/
  piefed:
    api:
      version: alpha
    community:
      types:
        - Subscribed
        - Moderating
    hosts:
      default: pf.korako.me
    subject:
      max_length: 50
  poipiku:
    urls:
      root: https://poipiku.com/
  spotify:
    language: ja,en-US;q=0.9,en;q=0.8
    patterns:
      - pattern: /track/([[:alnum:]]+)
        type: track
      - pattern: /album/([[:alnum:]]+)
        type: album
    retry:
      seconds: 1
    urls:
      track: https://open.spotify.com/
sharkey:
  capabilities:
    reaction: true
  display_name: Sharkey
  sns_type: misskey
sidekiq:
  auth:
    password: null
    user: admin
  concurrency: 5
  dashboard:
    session:
      max_age: 86400
    url: /mulukhiya/sidekiq
  dynamic: true
  logger:
    level: 1 # info
  redis:
    dsn: redis://localhost:6379/2
  schedule:
    annict_polling:
      class: Mulukhiya::AnnictPollingWorker
      every: 1m
    announcement:
      class: Mulukhiya::AnnouncementWorker
      every: 10m
    feed_update:
      class: Mulukhiya::FeedUpdateWorker
      every: 5m
    media_cleaning:
      class: Mulukhiya::MediaCleaningWorker
      every: 10m
    program_update:
      class: Mulukhiya::ProgramUpdateWorker
      every: 1m
    tagging_dictionary_update:
      class: Mulukhiya::TaggingDictionaryUpdateWorker
      every: 10m
    user_decoration_initialize:
      class: Mulukhiya::UserDecorationInitializeWorker
      cron: 3 3 * * *
    user_tag_initialize:
      class: Mulukhiya::UserTagInitializeWorker
      cron: 2 3 * * *
spoiler:
  emoji: netabare
  pattern: (ねた|ネタ)(ばれ|バレ)
user_config:
  encrypt_fields:
    - token
    - password
    - secret
  redis:
    dsn: redis://localhost:6379/1
webhook:
  sample: |
    あんなの、戦いのうちに入らないわ。
    奴らが本気で攻めてきたとき、あなたは本当に大切な人を守れるの？
websocket:
  keepalive: 15
  retry:
    seconds: 5
webui:
  importmap:
    development:
      '@popperjs/core': https://esm.sh/@popperjs/core@2.11
      '@vueform/multiselect': https://cdn.jsdelivr.net/npm/@vueform/multiselect@2.6/dist/multiselect.mjs
      activity_indicator: /mulukhiya/script/activity_indicator
      axios: https://cdn.jsdelivr.net/npm/axios@1.13/dist/esm/axios.js
      js-yaml: https://cdn.jsdelivr.net/npm/js-yaml@4.1/dist/js-yaml.mjs
      mulukhiya_lib: /mulukhiya/script/mulukhiya_lib
      slide_toggle: /mulukhiya/script/slide_toggle
      tippy.js: https://esm.sh/tippy.js@6.3.7
      v_tooltip: /mulukhiya/script/v_tooltip
      vue: https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.js
    production:
      '@popperjs/core': https://esm.sh/@popperjs/core@2.11
      '@vueform/multiselect': https://cdn.jsdelivr.net/npm/@vueform/multiselect@2.6/dist/multiselect.mjs
      activity_indicator: /mulukhiya/script/activity_indicator
      axios: https://cdn.jsdelivr.net/npm/axios@1.13/dist/esm/axios.js
      js-yaml: https://cdn.jsdelivr.net/npm/js-yaml@4.1/dist/js-yaml.mjs
      mulukhiya_lib: /mulukhiya/script/mulukhiya_lib
      slide_toggle: /mulukhiya/script/slide_toggle
      tippy.js: https://esm.sh/tippy.js@6.3.7
      v_tooltip: /mulukhiya/script/v_tooltip
      vue: https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.prod.js
  development:
    scripts:
      - https://cdn.jsdelivr.net/npm/clipboard@2.0/dist/clipboard.js
      - https://cdn.jsdelivr.net/npm/sweetalert2@11.26
    stylesheets:
      - https://cdn.jsdelivr.net/npm/@vueform/multiselect@2.6/themes/default.css
      - https://cdn.jsdelivr.net/npm/tippy.js@6.3/dist/tippy.css
      - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.css
      - https://fonts.googleapis.com/css?family=Francois+One|Inconsolata&display=swap
      - /mulukhiya/style/default
  episode:
    minutes: 30
  media:
    cache:
      ttl: 8640000
    catalog:
      limit: 100
    copyright:
      message: null
      url: null
  metadata:
    robots: noindex,nofollow
    viewport: width=1000
  production:
    scripts:
      - https://cdn.jsdelivr.net/npm/clipboard@2.0/dist/clipboard.min.js
      - https://cdn.jsdelivr.net/npm/sweetalert2@11.26
    stylesheets:
      - https://cdn.jsdelivr.net/npm/@vueform/multiselect@2.6/themes/default.css
      - https://cdn.jsdelivr.net/npm/tippy.js@6.3/dist/tippy.min.css
      - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css
      - https://fonts.googleapis.com/css?family=Francois+One|Inconsolata&display=swap
      - /mulukhiya/style/default
  status:
    timeline:
      limit: 20
worker:
  announcement:
    interval:
      seconds: 1
  default:
    federate: false
  media_cleaning:
    hours: 1
  user_tag_initialize:
    message: 固定タグをクリアしました。
youtube:
  url: https://www.googleapis.com/
