name: test
on:
  - push
env:
  CI: 'true'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        controller: [mastodon, misskey]
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.1
      - name: apt install
        run: |
          sudo apt update
          sudo apt install ffmpeg
          sudo apt install libidn11-dev
          sudo apt install libvips-dev
      - name: Fix gem directory permissions
        run: chmod -R o-w "$(gem environment gemdir)"
      - name: Create CI config
        run: |
          echo "controller: ${{ matrix.controller }}" > config/local.yaml
      - name: bundle install
        run: |
          gem install bundler -v '~>2.0'
          bundle install --jobs 4 --retry 3
          bundle exec rake bundle:update
          git diff
          bundle exec rake bundle:check
      - name: Run lint
        run: |
          bundle exec rake lint
      - name: Run test (${{ matrix.controller }})
        run: |
          bundle exec rake test
